* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: linear-gradient(
    326deg,
    rgb(255, 255, 255) 0%,
    rgb(223, 223, 223) 45%,
    rgb(201, 201, 201) 100%
  );
  --radial-gradient-bg: radial-gradient(
    circle,
    rgba(223, 163, 0, 1) 0%,
    rgba(235, 153, 0, 1) 6%,
    rgba(244, 244, 244, 1) 90%
  );
  --border: 2px solid rgb(55, 55, 55);
  --card-bg-image: linear-gradient(
    rgba(255, 255, 255, 0.4),
    rgba(242, 242, 242, 0.4)
  );
  --dropshadow-inset: inset 0px 2px 8px rgba(150, 150, 150, 0.4);
  --dropshadow-big: 8px 4px 12px rgba(130, 130, 130, 0.4);
  --font-color: rgb(55, 55, 55);
  --accent-color: #f97316; 
}

body,
html {
  font-family: "Nunito", sans-serif;
  color: var(--font-color);
}

.main-container {
  background-image: var(--radial-gradient-bg);
  background-repeat: none;
  background-position: top;
  min-height: 100vh;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 24px 0px;
}

.dashboard {
  height: 100%;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  background-color: rgba(200, 200, 200, 0.4);
  backdrop-filter: blur(24px);
  box-shadow: var(--dropshadow-big);
  border: var(--border);
  border-radius: 24px;
}

.icon {
  height: 1.3rem;
}

/* Sidebar */

.sidebar {
  grid-row: 1 / 3;
  display: grid;
  align-content: baseline;
  justify-content: center;
  gap: 32px;
  padding: 24px;
  border-right: var(--border);
}

.logo {
  font-size: 2rem;
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
}

.logo > img {
  height: 2rem;
  margin-right: 4px;
}

.sb-links-container {
  display: grid;
  gap: 12px;
}

.sb-link {
  font-size: 1.3rem;
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  padding: 4px 8px;
  border-radius: 4px;
}

.sb-link:hover, .card:hover, .teammate:hover {
    background-image: var(--card-bg-image);
    box-shadow: var(--dropshadow-inset);
    cursor: pointer;
}

.sb-link.selected {
    background-image: var(--card-bg-image);
    cursor: pointer;
}

.sb-link > .icon {
  margin-right: 4px;
}

/* Header */

.header {
  grid-row: 1 / 2;
  padding: 24px;
  display: grid;
  grid-template-columns: 50% repeat(auto-fit, minmax(196px, 1fr));
  border-bottom: var(--border);
  align-items: center;
  column-gap: 24px;
  row-gap: 16px;
}

.header > form {
  display: grid;
  grid-template-columns: 1fr 1.3rem;
  gap: 8px;
  align-items: center;
  padding: 8px 12px;
  border-radius: 8px;
  background-image: var(--card-bg-image);
}

.search-bar {
  background: none;
  outline: none;
  border: none;
  padding: 2px 4px;
  border-radius: 4px;
  font-family: "Nunito", sans-serif;
  color: var(--font-color);
  font-size: 1rem;
}

.header > form:hover {
  box-shadow: var(--dropshadow-inset);
}

.header-icons-container {
    display: grid;
    grid-template-columns: min-content min-content;
    justify-self: end;
    gap: 16px;
}

.bell-icon {
    position: relative;
    display: grid;
}

.profile-container {
  display: grid;
  grid-template-columns: 72px 1fr;
  align-items: center;
  /* justify-self: end; */
  column-gap: 8px;
  /* padding-right: 24px; */
}

.profile-container > img {
  grid-row: 1 / 4;
  height: 72px;
  border-radius: 50%;
}

.user-handle a {
    text-decoration: none;
    color: var(--font-color);
}

.user-handle a:hover {
    text-decoration: underline;
}

.buttons-container {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 96px);
    gap: 24px;
    justify-content: start;
}

button {
    border: none;
    background: var(--card-bg-image);
    padding: 8px 12px;
    border-radius: 8px;
    /* font-size: 1rem; */
    font-family: "Nunito", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .05rem;
}

button:hover {
    cursor: pointer;
    box-shadow: var(--dropshadow-inset);
}

/* Main Content */

.main-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  gap: 24px;
  padding: 24px;
}

/* Probably should rename all the "cards" to "project" */
.card,
.announcements-container,
.teammate {
  padding: 16px;
  background-image: var(--card-bg-image);
  border-radius: 8px;
  /* box-shadow: var(--dropshadow-inset); */
}

.projects-section {
  grid-row: 1 / 3;
  display: grid;
  align-self: start;
  gap: 16px;
}

.cards-container {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
}

.card {
  display: grid;
  gap: 4px;
}

.card-icons {
  justify-self: end;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}

.main-content-right {
  display: grid;
  gap: 24px;
}

.announcements-section {
  display: grid;
  gap: 16px;
  align-content: baseline;
}

.announcements-container {
  display: grid;
  gap: 8px;
}

.announcement {
  padding-bottom: 8px;
}

.announcement:nth-child(-n + 2) {
  border-bottom: 1px solid rgba(55, 55, 55, .3);
}

.team-section {
  display: grid;
  gap: 16px;
}

.teammate {
  display: grid;
  grid-template-columns: 56px 1fr;
  column-gap: 8px;
  /* row-gap: 2px; */
  align-items: center;
}

.teammate > img {
  grid-row: 1 / 3;
  height: 56px;
  border-radius: 50%;
}

.teammate-name {
  align-self: end;
}

.teammate-handle {
  align-self: start;
}

footer {
  height: 2rem;
  display: grid;
  grid-template: 1fr;
  align-items: center;
  justify-content: center;
  background-color: var(--font-color);
  color: #fff;
}

@media screen and (max-width: 879px) {
  .dashboard {
    /* display: grid; */
    grid-template-columns: 1fr;
  }

  .header {
    grid-row: 1 / 2;
    grid-template-columns: 1fr 1fr;
  }

  .sidebar {
    grid-row: 2 / 3; 
    justify-content: start;
    grid-template-columns: 1fr 1fr;
    border-right: none;
  }

  .logo-container {
    grid-column: 1 / 3;
  }

  .sb-links-container {
    align-content: start;
  }

 .main-content, .cards-container {
    grid-template-columns: 1fr;
  }
}